@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    padding-top: 30px;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    float: left;
}

.nav-links li {
    margin-right: 25px;
    font-size: 16px;
    color: #FFF;
}

.fa-sign-in-alt,
.fa-long-arrow-alt-right {
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

button {
    padding: 15px 24px;
    color: #FFF;
    font-size: 16px;
    background-color: #E02C6D;
}

.area {
    display: flex;
    justify-content: center;
}

.top-container {
    width: 1000px;
    margin-top: 50px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.banner-pic img {
    width: 557px;
    height: 428px;
}

.banner-title h1 {
    font-size: 56px;
    color: #FFF;
    margin: 0;
}

.player-details img {
    width: 300px;
    height: 256px;
}

.player-details h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.player-details {
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

#hlight-title h3 {
    color: black;
    font-size: 48px;
    margin: 0;
}

.highlight {
    margin-top: 30px;
    padding: 5px;
}

.logo {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.logo img {
    width: 438px;
    height: 110px;
}

.match-head {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: royalblue;
}

.match img {
    width: 100%;
    height: 400px;
}

.match {
    padding: 5px;
}

footer {
    margin-top: 50px;
}

.media {
    font-size: 18px;
    text-align: center;
}

.icons i {
    padding: 10px;
    color: blue;
}


/* design for mobile */

@media only screen and (max-width:870px) {
    .main-container,
    .player {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-pic img {
        width: 100%;
    }
    .player-details img {
        width: 100%;
    }
    .logo img {
        width: 100%;
    }
    #hlight-title h3 {
        font-size: 20px;
    }
    .banner-title h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 5px;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .navbar {
        display: none;
    }
}